<!------------------ SIDEBAR  --------------------------------->
<aside class="col-span-12 md:col-span-4 lg:col-span-3 text-[var(--base-color)]">

  {% for info in site.data.sidebar.info-section %}
  <div class="bg-[var(--featured-color)]">
      <div>
        <img src="{{info.image}}" class="">
      </div>

      <!-- about me paragraph -->
      <div class="mb-6 px-4 py-6 hover-camel">
          <p class="">{{info.description}}</p> 
          <a href="{{info.link}}" class="button-subtle-dark-bg text-sm">{{info.button-text}} &#8594;</a>
      </div>
  </div>
  {% endfor %}

  <!-- recent posts -->
  <div class="bg-[var(--featured-color)] mb-6 px-4 py-6">
      <h4 class="mt-2 featured-font"> Recent Posts </h4>
      <nav class="recent-posts-nav hover-camel"> 
          {% for page in site.posts limit:8 %}
                <a href="{{page.url}}" class="block leading-7 pb-2"> {{page.sidebar-title}}</a>
          {% endfor %}
      </nav>
  </div>

  

</aside> <!-- end sidebar-->