* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Custom CSS */

section {
    padding: 5%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.max-width {
    max-width: 1000px;
}

/* Typography */
body {
    font-family: "Poppins", sans-serif;
}

.body-font {
  font-family: "Poppins", sans-serif;
}

.serif-font {
    font-family: "DM Serif Display", sans-serif;
}

.cursive-font {
    font-family: "Babylonica", cursive;
}

footer .serif-font {
  font-size: 30px;
}

footer .body-font {
  font-size: 16px;
}

.copyright {
  font-weight: 200;
  border-bottom: 1px solid;
}

header .body-font {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
  font-weight: 500;
}

/* Italic for cursive hack */
h1 em {
  font-family: "Babylonica", cursive;
  font-size: 6rem;
}

h2 em {
  font-family: "Babylonica", cursive;
  font-size: 4rem;
}

h3 em {
  font-family: "Babylonica", cursive;
  font-size: 3rem;
}

h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child, 
h6:last-child, 
p:last-child {
	margin-bottom: 0;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.2rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }

p, li {
  line-height: 1.8; 
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.subtitle         { font-size: 0.8rem; }

/* ----------- Navigation/Hamburger Button -------------- */
.hamburger-button {
  color: var(--base-color);
  cursor: pointer;
  font-size: 2.5rem;
  line-height: 0.8;
  position: relative;
  z-index: 30;
}

.hamburger-button:hover {
color: var(--featured-color-camel)
}

/* Styles when the hamburger button is active  */
.hamburger-button.active {
color: var(--featured-color-camel);
}

.hamburger-button.active:hover {
  color: var(--base-color);
  }


.mobile-menu {
display: none; 
background-color: var(--featured-color-dark-navy);
padding: 5%;
padding-top: 2rem;
position: fixed;
z-index:3;
top: 0;
bottom: 0;
right: 0;
}

.mobile-menu a {
text-decoration: none; 
color: inherit; 
padding: 2%;
display: block;
}

.mobile-menu a:hover {
color: var(--featured-color-camel)
}

.mobile-menu .title {
color: var(--base-color);
font-weight: 600;
}


/* Basic p & a styles */

p a {
    text-decoration: none;
    color: var(--featured-color);
    font-weight: 700;
    border-bottom: 2px solid;
    display: inline-block;
  }

p a:hover { 
    color: var(--fbutton-1-bg); 
  }

a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    color: var(--featured-color-camel); 
  }
  
  .hover-white a:hover {
    color: white; 
  }

  .hover-camel a:hover {
    color: var(--featured-color-camel);
  }
  
  .hover-dark a:hover {
    color: var(--featured-color-dark-navy); 
  }
  

/* Button Classes */

.button-1 {
  background-color: var(--button-1-bg);
  border: 1px solid var(--button-1-bg);
  color: var(--button-1-text-color);
}

.button-1:hover {
  background-color: var(--button-1-text-color);
  border: 1px solid var(--button-1-bg);
  color: var(--button-1-bg);
}

.button-2 {
  background-color: var(--button-2-bg);
  border: 1px solid var(--button-2-bg);
  color: var(--button-2-text-color);
}

.button-2:hover {
  background-color: var(--button-2-text-color);
  border: 1px solid var(--button-2-bg);
  color: var(--button-2-bg);
}

.button-subtle {
  color: var(--featured-color);
}

.button-subtle:hover {
  color: var(--text-color);
}

.button-subtle-dark-bg {
  color: var(--base-color);
}

/* Form Styles */

input, textarea {
    width: 100%;
    border: 1px solid var(--text-color);
    padding: .5rem;
    outline: none;
}

input:focus, textarea:focus {
    background-color: var(--featured-color);
}


/* Back to Top Grid */
.major-funders-grid {
    grid-template-columns: 12rem 1fr 1fr;
  }